{% extends 'base.html.twig' %}

{% block title %}
    {{ 'home.title'|trans }}
{% endblock %}


{% block body %}

    <div class="container my-3">
        <h2 class="my-3">{{ 'home.menu.last_published'|trans }}</h2>
        <div class="row">
            {% include 'game/_game_loop.html.twig' with
                {
                    'games': lastPublishedGames,
                }
            %}
        </div>

        <h2 class="my-3">{{ 'home.menu.most_played'|trans }}</h2>
        <div class="row">
            {% include 'game/_game_loop.html.twig' with
                {
                    'games': mostPlayedGames,
                }
            %}
        </div>

        <h2 class="my-3">{{ 'home.menu.last_comments'|trans }}</h2>
        <div class="row">
            {% include 'comment/_comment_loop.html.twig' with
                {
                    'comments': lastComments,
                }
            %}
        </div>

        <h2 class="my-3">{{ 'home.menu.most_bought'|trans }}</h2>
        <div class="row">
            {% include 'game/_game_loop.html.twig' with
                {
                    'games': mostBoughtGames,
                }
            %}
        </div>
    </div>

{% endblock %}