
<div class="col-lg-4 my-3 px-5">
{#    {% if genreDisplayed is defined %}#}
{#        <a href="{{ path('game_genre', {'slug': game.genres[0].slug }) }}" class="text-decoration-none">#}
{#            <p class="game-item">#}
{#                {{ game.genres[0].name }}#}
{#            </p>#}
{#        </a>#}
{#    {% endif %}#}
{#    <a href="{{ path('game_redirect', {'slug': game.slug}) }}" class="{{ classCss }} text-decoration-none">#}
        <div class="card-game">
            <div class="container-image">
                <img class="img-100" src="{{ game.thumbnailCover }}">
                <div class="container-price {% if hiddenPrice is defined %}d-none{% endif %}">
                    <div class="price">
                        {{ game.price }}€
                    </div>
                </div>
            </div>
            <div class="card-bottom">
                <p class="text-center">
                    {{ game.name }}
                </p>
                {% if library is defined %}
                    <p class="text-center">
                        {{ library.timeConverter }}
                    </p>
                    <p class="text-center">
                        {{ library.lastUsedAt|date('d M Y') }}
                    </p>
                {% endif %}
            </div>
        </div>
{#    </a>#}
</div>
